*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(58, 81, 116);
    text-align:center;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5vmin;
    flex-direction:column;
}
.container{
    height:68vh;
    width:68vh;
    
   
}
.game{
    height:70vmin;
    width:70vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1vmin;
    /* flex-direction:column; */
}
.box{
   height:18vmin;
   width:18vmin;
   border-radius:10px;
   border:none;
   box-shadow:0 0 1rem rgba(0,0,0,0.5);
   font-size: 8vmin;
   color:rgb(34, 32, 32);
}
.reset_btn{
    height:6.5vmin;
    width:20vmin;
    font-size:3vmin;
    border-radius: 5px;
    cursor:pointer;
}
#new_btn{
    height:6.5vmin;
    width:20vmin;
    font-size:3vmin;
    border-radius: 5px;
    cursor:pointer;
}
#mssg{
   color:rgb(241, 241, 125);
   font-size:5vmin;
   margin-bottom:10px;
}
.hide{
    display:none;
}
@media(max-width:680px){
    .container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        padding:1.6rem;
    }
    #mssg{
        margin-bottom: 20px;
        font-size:1rem;
    }
    main{
        min-height:100vh;
        width:100%;
    }
}
